{%  extends "main/header.html" %}
{% block content %}
 <div class="row">
    <h1>Crowd analysis for the business</h1>
    <h4> {{ status }} </h4>
    {% autoescape off %}
    {{ predict_plot_div }}
    {% endautoescape %}
    <h2>Trending information</h2>
    <p>The period which most tend to have more customer is : {{ more }}</p>
    <p>The period which most tend to lost customer is : {{ less }}</p>
    <h2>Collected data</h2>
    {%  for collected_plot_div in collected_plot_divs %}
        {% autoescape off %}
        {{ collected_plot_div }}
        {% endautoescape %}
    {% endfor %}
 </div>
{% endblock %}
